@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    box-sizing: border-box;
}
body{
    background-image: url("../img/slider-1@2x.png");
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    display: flex;
    justify-content: space-between;
    height: 96px;
    align-items: center;
    border-bottom: 1px #e0752F solid;
    padding: 0 100px;
}

header img{
    width: 129px;
    height: 30px;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 0 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    margin-top: 2.3rem;
}

nav ul{
    display: flex;
}

nav li{
    list-style: none;
}


.presentacion {
    font-size: 48px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    margin-top: 60px;
    margin-left: 101px;
    width: 554px;
    height: 115px;
  }

  .presentacion h1{
      font-size: 48px;
  }

  .presentacion p{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    width: 343px;
  }
  

  button {
    background-color: #E0752F;
    border-radius: 25px;
    padding: 14px 2rem;
    border-color: transparent;
 }

 button a{
    color: #FFF;
    font-family: 'Roboto';
    font-size: 16px;
    text-decoration: none;
 }

 .segunda{
    font-size: 38px;
    font-family: 'Poppins', sans-serif;
    margin-top: 167px;
    margin-left: 405px;
    width: 602px;
    height: 402px;  
 }
  
 .naranja{
     color: #E0752F;
 }